.nombreMiembros{
  font-size: 15px;
  font-weight: bolder;
  color:  dodgerblue;

}

p.infoMiembros{
  margin: 10px;
  color: #333;
  text-align: justify;
}
p.infoMiembros-blanco{
  margin: 10px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

hr {
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  max-width: 50px;
  margin: auto;
  margin-bottom: 1em;
}
hr.primario {
  border-color: rgb(255, s255, 255);
}

hr.secundario {
  border-color: rgb(0, 0, 0);
}

.black{
  border-color: rgb(255, 0, 0);
  border-width: 2px;
  border: solid;
}

.contenedor {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.centrarContenido{
  margin: auto;
}
.bg-primario{
  background-color: #333;
}

.bg-secundario{
  background-color: white;
}

.text-encabezado-blanco {
  color: white;
  font-weight: bolder;
  margin-top: 0;
}

.text-contenido-blanco {
  color: rgba(255, 255, 255, 0.7);
  text-align:justify;
}


.img{
  padding-top: 3em;
  width: 50%;
}

.service-image{
  height: 200px;
  border-bottom: 1px solid;
  border-color: rgb(175, 175, 175);
  margin-bottom: 10px;
}

.service-image-desarrolladores{
  width: 200px;
  height: 100%;
  border-right: 2px solid;
  border-color: rgb(197, 197, 197);
  margin-bottom: 10px;
  background-color: transparent;
}

.imgMiembros{
  padding: 10px;
  height: 100%;

}

.img img{
  width: 100%;
}

.iconoAbout{
  color: rgb(24, 119, 214);
}

.videoResponsivo{
  margin: auto;
  max-width: 800px;
  height: 500px;
}

.miembros{
  width: 100%;
  height: auto;
  margin-bottom: 1em;
  background-color: #d6249e00;
}

.organizarCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card-miembros{
  display: block;
  background-color: whitesmoke;
  border: 1px solid;
  border-color: rgb(184, 182, 182);
  border-radius: 10px;
  width: 350px;
  height: 400px;
  margin: 0.5em;
}

.card-miembros:hover{
  box-shadow: 5px 8px 10px black;
  border: 1px dodgerblue solid;
  transition: all .60s;

  transform: translateY(-7px);
}

.card-miembros:hover > .info-cards > .nombreMiembros{
  color: rgb(0, 58, 116);
  transition: all .60s;
}

.info-cards{
  height: 150px;
}

.btnCard{
  margin: 0px;
  background-color: #d6249f;
  width: 100%;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnLeerMas{
  background-color: dodgerblue;
  color: white;
  font-weight: 500;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  height: 39px;
}

.btnLeerMas:hover{
  background-color: rgb(0, 106, 212);
  transition: all 0.40s;
}

.card-Desarrolladores{
display: inline-flex;
box-shadow: 0px 3px 15px black;
background-color: rgb(236, 236, 236);
border: 2px rgb(138, 138, 138) solid;
border-radius: 10px;
width: 100%;
height: 200px;
}

.card-Desarrolladores:hover{
  transform: translateY(-7px);
  transition: all 0.5s;

}

.infoDesarroladores{
  max-width: 500px;
}


/*Esta clase se hizo para poder que el LOGO el MENU DE NAVEGACION y los divs tuvieran el mismo formato*/
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/*Clase para poder modificar las letras del logo*/
.logo{
    letter-spacing: 2px;
    font-size: 1em;
}

#topText{
  transition: all 1s;
}



/*Se creo para poder modificar mas abajo en modo para celulares*/
.menu-icon{
    display: none;
}


/* HEADER */
.encabezado{
    background-color: rgba(51, 51, 51, 0.75);
    backdrop-filter: blur(10px);
    color: whitesmoke;
    padding: 0px;
    box-shadow: 0px 1px 20px black;

    z-index: 3;
  

    /* PARA QUE ESTE FIJA EN LA PARTE SUPERIOR*/
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

}



/*ES PARA CUANDO ENTRAS POR EJEMPLO EN UN TELEFONO O UNA PANTALLA CON UN ANCHO MENOR A 767
CAMBIE EL ESTILO DE EL ENCABEZADO*/

@media only screen and (max-width: 991px){

  
.img{
  padding-top: 3em;
  width: 50%;
}

    .videoResponsivo{
      height: 250px;
    }

    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }          

    .navegacion {
    width: 100%;
    margin-top: 0.5rem;
    }
    
    .navegacion ul{
        display: none;
    }

    .navegacion ul.show{
        display: block;
    }

    .navegacion ul li{
    display: block;
    }

    .navegacion ul li a{
    display: block;
    padding: 0.5rem 1em;
    transition: all 0.5s linear;
    border-radius: 1em;
    }

    .navegacion ul li a:hover{
    background: rgb(83, 83, 83);
    }

}


/*ES PARA CUANDO ENTRAS POR EJEMPLO EN UN TELEFONO O UNA PANTALLA CON UN ANCHO MENOR A 767
CAMBIE EL ESTILO DE LA SECCION DE DESARROLADORES*/
@media only screen and (max-width: 767px){

  .card-Desarrolladores{
    display: inline-block;
    box-shadow: 0px 1px 15px black;
    background-color: rgb(248, 248, 248);
    border: 2px rgb(138, 138, 138) solid;
    border-radius: 10px;
    width: 250px;
    height: 550px
    }

    .service-image-desarrolladores{
      width: 100%;
      height: 150px;
      border-bottom: 2px solid;
      border-color: rgb(197, 197, 197);
      margin-bottom: 10px;
      background-color: transparent;
    }

}

.iconFacebook {
    display: inline-flex;
    border-radius: 27px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #333;
    margin-right: 1em;
  }
  
  .iconFacebook:hover{
  color: dodgerblue; 
  transform: translateY(-7px);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.274);
  
  }
  
  .iconIg{
      display: inline-flex;
      width: 53px;
      height: 53px;
      padding: 2px;
      text-align: center;
      border-radius: 15px;
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s;
      color: #333;
      vertical-align: middle;
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      margin-bottom: 40px;
      margin-right: 15px;
  }
  
  .iconIg:hover{
    color: whitesmoke; 
    transform: translateY(-7px);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.274);  
    }
  
  
  .iconYoutube {
    display: inline-flex;
    border-radius: 12px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #333;
    margin-right: 1em;
    height: 41px;
  }
  
  .iconYoutube:hover{
  color: red; 
  transform: translateY(-7px);
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.274);  
  
  }

/* Modifica todas las a en la clase encabezado*/
.encabezado a{
    color: white;
    text-decoration: none;
}

.section{
  padding-top: 3em;
  width: 100%;
  min-height: 700px;
  height: auto;
}

#inicio{
    width: 100%;
    min-height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background: linear-gradient(dodgerblue, rgb(4, 56, 109));   
    text-align: center;
    color: white;
}

.btn-inicio{
  background-color: dodgerblue;
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  font-size: 17px;
  font-weight: 750;
  text-decoration: none;

  transition: all 0.75s;
}

.btn-inicio:hover{
  background-color: white;
  color: black;

  transition: all 0.75s;
}

#about{
    justify-content: center;
}


#redesSociales{

}


#aplicaciones{

}


#produccionAcademica{

}

#miembros{

}

#contacto{

}

/* CARRUSEL */

.modal-titulo {
  margin-bottom: 0;
  color: #ddd;
  line-height: var(--bs-modal-title-line-height);
}



/*PLAY*/

#play{
  border-radius: 15px;
  position: relative;
  display: inline-block;
  letter-spacing: 2px;
  font-size: 15px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border: none;
 
}


#play:hover{
  background-color: dodgerblue;
  box-shadow: 0 0 20px #0004ff;
  color: white;
}




