
/* Get rid of all default margins/paddings. Set typeface */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ContactoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario {
  background-color: white;
  width: 800px;
  height: 600px;
  border-radius: 8px;
  /*
  padding: 20px 40px;
  box-shadow: 1px 0px 25px rgba(92, 99, 105, .2);
  */
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 99%;
  margin-bottom: 17px;
}

/* Style the inputs */

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;  
  z-index: 2;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

/* Styling text labels */

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  transition: all 0.5s;
}

.submitBtn:hover {
  background-color: rgb(86, 169, 252);
  letter-spacing: 1px;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -15px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: dodgerblue;
}

.input:focus {
  border: 2px solid dodgerblue;
}

#textArea{
  position: absolute;
  top: 6px;
  left: 0px;
  height: 7em;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;  
  z-index: 1;
}

#textArea:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: dodgerblue;
}