/*
PATRON DE COLORES
*/

$principal: rgb(25, 110, 4);


/*
MODIFICAR VARIABLES DE BOOTSTRAP
*/
$nav-link-color:                    #333;
$nav-link-hover-color:              rgb(16, 94, 0);

$modal-width:                       6000px;

@import "../libs/bootstrap/scss/bootstrap";